p{
    margin: 0;
    padding: 0
}

.item-count{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 2%;
    border: 1px solid rgba(41, 41, 41, 0.363);
    z-index: 20;
}
.item-count p{
    margin: 0;
    padding: 2%;
    font-size: 18px;
}

.item-count button{
    font-size: 12px;
    border:none;
    padding: 0 10px;
    background-color: rgba(70, 70, 70, 0.11);
}


.addCart-btn{
    background-color: rgb(255, 166, 0);
    color: white;
    font-size: 17px;
    border-bottom: 4px solid rgb(255, 145, 0);
    border-right:3px solid rgb(255, 145, 0) ;
    border-radius: 5px;
    padding: 0 15px;
    width: 100%;
    cursor: pointer;
}
.addCart-btn:hover{
    color: white;
    border-bottom: 6px solid rgb(255, 145, 0);
    border-radius: 5px;
    text-decoration: none;
}

.addCart{
    padding: 10px;
}

.finish-btn{
    padding: 10px;
    background-color: rgb(60, 61, 61);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}