p{
    margin: 0;
    padding: 0
}

.item-count{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 2%;
}
.item-count p{
    margin: 0;
    padding: 2%;
    font-size: 18px;
}

.item-count button{
    font-size: 1.3rem;
    border:none;
    padding: 0 10px;
}

.item-count-container{
    border: 1px solid rgba(8, 8, 8, 0.171);
    border-radius: 15px;
}
.addCart-btn{
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 0 15px;
}
.addCart-btn:hover{
    color: white;
    border-radius: 5px;
}

.addCart{
    padding: 10px;
}