#ItemListContainer{
    text-align: center;
    font-family: Poppins;
    margin: auto;
    color: white;
}

#ItemListContainer h3{
    padding-top: 20px ;
    font-weight: bolder;
}

.spinner-border{
    height: 100px;
    width: 100px;
}