p{
    margin: 0;
    padding: 0
}

.item-count{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 2%;
    border: 1px solid rgba(41, 41, 41, 0.363);
    z-index: 20;
}
.item-count p{
    margin: 0;
    padding: 2%;
    font-size: 18px;
}

.item-count button{
    font-size: 12px;
    color: #fff;
    border:none;
    padding: 0 10px;
    background-color: rgba(70, 70, 70, 0.11);
}


.addCart-btn{
    background-color: rgb(255, 166, 0);
    color: rgb(10, 10, 10);
    font-size: 17px;
    border-bottom: 4px solid rgb(255, 145, 0);
    border-right:3px solid rgb(255, 145, 0) ;
    border-radius: 5px;
    padding: 0 15px;
    width: 100%;
    cursor: pointer;
}
.addCart-btn:hover{
    color: rgba(22, 22, 22, 0.896);
}

.addCart{
    padding: 10px;
}

.finish-btn{
    background-color: rgb(255, 166, 0);
    padding: 10px;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.disponible{
    color: rgb(228, 231, 235);
    margin: 0;
    padding: 0;
    font-weight: 400;
}