.cart-container .order-container {
  font-family: poppins; 
  padding: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
}

.order-container {
  font-family: poppins; 
}
.order-container .list-group{
  border: 1px solid rgb(15, 15, 15);
}

