.cartDetails .order-container {
  font-family: poppins; 
  padding: 20px 0 0 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.order-container {
  padding: 0 ;
  font-family: poppins; 
  color: rgb(0, 0, 0);
  text-align: center;
}

