@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Jacques+Francois+Shadow&family=Playfair+Display:wght@500&family=Poppins&display=swap');
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

.table-ftr{
    text-align: left;
    background-color: rgb(37, 37, 37);
    color: #fff;
    font-family: poppins;
    padding-top: 20px;
}
.list-group{
    line-height: 13px;
}

.list-group .footer-list{
    background-color:transparent;
    border: none;
    font-size: 14px;
}
.footer-list a:hover{
    transition: 0.3s;
    color: rgb(109, 255, 80);
}

.list-group-item a{
    color: #fff
}
.table-izq{
    text-align: left;
    background-color: rgb(37, 37, 37);
    color: #fff;
    font-family: poppins;
    padding-top: 20px;
    padding-left: 90px;
}
.copyr{
    padding:0%;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}