.ticket-info-container {
  font-family: poppins;
  padding: 20px 100px;
  color: rgb(0, 0, 0);
  width: 100%;
  background-color: #fff;
}
.head-ticket {
  text-align: center;
}
.item_user-info {
  font-size: 17px;
  text-transform: uppercase;
}
table {
  width: 100%;
}
td {
  border: 1px solid gray;
  padding: 10px;
}

.td-nombre {
  width: 50%;
}
.td-pricio {
  width: 25%;
}
.td-cant {
  width: 25%;
}
.precioTotal {
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
}
.volver-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.403);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}