.detailContainer{
    background: rgb(63,215,251);
    background: radial-gradient(circle, rgba(63, 216, 251, 0.582) 0%, rgba(136,131,186,1) 53%, rgba(252,70,70,1) 100%);
    font-family: Poppins;
    padding: 40px 0;
}

.imgExample{
    height: 200px;
    width: 200px;
    margin: auto;
    border: 1px solid rgb(182, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 75, 75, 0.459);
    color: #000;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details h2{
    text-transform: uppercase;
    font-weight: bold;
}

.detail-h1{
    color: rgba(233, 233, 233, 0.397);
    font-weight: bolder;
    text-align: center;
}

