@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Jacques+Francois+Shadow&family=Playfair+Display:wght@500&family=Poppins&display=swap');
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
@font-face {
    font-family: harryPtr;
    src: url(./assets/fonts/harryptr.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row{
    margin: 0;
}