@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Jacques+Francois+Shadow&family=Playfair+Display:wght@500&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Playfair Display', serif;*/
@font-face {
    font-family: harryPtr;
    src: url(./assets/fonts/harryptr.ttf);
}

