@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Jacques+Francois+Shadow&family=Playfair+Display:wght@500&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Playfair Display', serif;*/

#navbar-main{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
    border-bottom: solid 2px rgb(212, 212, 212);
    font-family: 'Poppins', sans-serif;
    margin:0 5px;
}
.dropdown-item{
    font-family: 'Poppins', sans-serif;
}
.dropdown-item:active{
    background-color: rgba(0, 0, 0, 0.26);
    color: aliceblue;
}
.nav-link:hover{
    color: rgb(30, 148, 0);
    box-shadow: 0px 0 10px 0 rgba(253, 207, 0, 0.226);
}

.navbar-brand{
    background-color: rgb(255, 255, 255);
    letter-spacing: 4px;
    border-radius: 10px;
    padding: 0 24px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 35px;
    font-family: harryptr;
    color: rgb(34, 36, 36);
}
.navbar-brand:hover{
    color: rgb(30, 148, 0);
    box-shadow: 0px 0 10px 0 rgba(113, 247, 4, 0.863);
    border: 2px solid;
    background-color: rgb(14, 14, 14);
}
.logolumo{
    width: 40px;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255);
}
.navbar-toggler-icon{
    color: rgb(121, 118, 118);
    font-size: 25px;
}

.text-descuento{
    background-color: rgb(30, 148, 0);
    color: rgb(26, 26, 25);
    text-align: center;
    margin: 0;
    font-weight:600;
}

.active{
    color:  rgb(30, 148, 0);
    border-bottom: solid 2px rgb(30, 148, 0);
    font-family: 'Poppins', sans-serif;
}
.dropdown-item.active{
    background-color: rgb(30, 148, 0);
    color: #000
}